/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

/* centralizazione degli elementi e spazio tra essi*/

.central-position{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}


/* header */

/* nav bar */
#nav-bar{
    background-color: blue;
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* jumbotron */
#jumbotron{
    background-color: brown;
    width: 100%;
    min-height: 700px;
    margin-top: 80px;
}



/* body */


/* piano tariffario */
#plan-business{
    margin-top: 70px;

    /* debug */
    min-height: 800px;
    background-color: cadetblue;
}

#tariff-plan{
    display: flex;
    justify-content: space-between;    
}

.singol-plan{
    width: calc(100%/3 - 40px);
    /* debug */
    background-color:darkgreen;
    height: 600px;
}

#bottom-plan{
    width: 100%;
    margin-top: 60px;
    /* debug */
    
    min-height: 200px;
    background-color: darkgreen;
}


/* Contatta un partner */

/* dubag */
#contact-partner{
    background-color: cadetblue;
}
.img-partner{
    width: 500px;
    height: 400px;
    background-color: yellow;
    float: left;
}
#contact-partner::after{
    content: "";
    display: table;
    clear: both;
}



/* potenzialitá di dropbox */
#box-functionality{
    width: 100%;
    min-height: 600px;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    /* debug */
    background-color: cadetblue;
}


.section-box-functionality{
    width: calc(100%/3 - 30px);
    margin-bottom: 30px;
    /* debug */

    min-height: 300px;
    background-color: cyan;
}

/* partner associati */
#associated-partners{
    background-color: cadetblue;
    width: 100%;

    display: flex;
    justify-content: space-between;


    /* debug */
    min-height: 500px;
}


#partner-description{
    background-color: aqua;
    width: calc(100% /3);
}

.partner{
    
    
    display: flex;
    flex-wrap: wrap;
    
    /* debug */
    background-color: blue;
    width: calc(100% /3); 
    /* l'altezza verra sostituita dalle immagini */
}

.partner-logo{
    width: 50%;
    height: 250px;
    background-color: bisque;
}

/* dropbox per la tua azienda */
#micro-section{
    width: 100%;
    min-height: 300px;
    background-color: cadetblue;
}
#micro-section-flex{
    height: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* domande frequenti */
#frequent-questions{
    
    min-height: 300px;
    /* debug */
}


/* footer */

footer{
    background-color: black;
    color: white;
    min-height: 600px;
}


