/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

/* header */

/* nav bar */
#nav-bar{
    background-color: blue;
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* jumbotron */
#jumbotron{
    background-color: brown;
    width: 100%;
    min-height: 700px;
    margin-top: 80px;
}



/* body */

/* centralizazione degli elementi e spazio tra essi*/
.bottom-space{
    margin-bottom: 50px;
}

.central-position{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* piano tariffario */
#plan-business{
    margin-top: 70px;

    /* debug */
    min-height: 800px;
    background-color: cadetblue;
}

#tariff-plan{
    display: flex;
    justify-content: space-between;    
}

.singol-plan{
    width: calc(100%/3 - 40px);
    /* debug */
    background-color:darkgreen;
    height: 600px;
}

#bottom-plan{
    width: 100%;
    margin-top: 60px;
    /* debug */
    
    min-height: 200px;
    background-color: darkgreen;
}


/* Contatta un partner */

/* dubag */
#contact-partner{
    background-color: cadetblue;
}
.img-partner{
    width: 500px;
    height: 400px;
    background-color: yellow;
    float: left;
}

/* esempi di dropbox */



/* footer */




